<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">

    <title>PORTFOLIO - LEO GRATON</title>

    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div class="content">
      <div class="box menu" id="menu">
        <div class="box logo">
          <img src="img/PORTFOLIO_logo.png"/>
        </div>
        <div class="box home">
          <ul>
            <li>
              <a href="#portfolio">Portfolio</a>
              lorem ipsum
            </li>
            <li>
              <a href="#skills">Compétences</a>
              lorem ipsum
            </li>
            <li>
              <a href="#contact">Contact</a>
              lorem ipsum
            </li>
          </ul>
        </div>
      </div>
      <div class="box title">
        <h1>PORTFOLIO</h1>
          <h2>LEO GRATON</h2>
          <div class="border"></div>
      </div>
      <div class="box search">
        <input type="text" v-model="searchString" placeholder="Entrer les termes rechercher"/>
      </div>
      <div class="box img" id="portfolio">
        <img src="img/PORTFOLIO_logo-parknroad.png"/>
      </div>

      <div v-for="article in articles">
        <div class="box info" id="creation">
          <h3>{{article.titre}}</h3>
          <p>{{article.description}}</p>
        </div>
      </div>

      <div class="box img2">
        <img src="img/PORTFOLIO_logo-fictif.png"/>
      </div>
      <div class="box info2" id="creation">
        <h3></h3>
        <p></p>
      </div>
      <div class="box img3">
        <img src="img/PORTFOLIO_Stage-Vacances.png"/>
      </div>
      <div class="box info3" id="creation">
        <h3></h3>
        <p></p>
      </div>
      <div class="box plus">
        <a href="#menu"><button type="button" name="plus">Voir plus</button></a>
      </div>
      <div class="box skills" id="skills">
        <h1>COMPETENCES</h1>
          <h2>LEO GRATON</h2>
          <div class="border"></div>
      </div>
      <div class="box contact" id="contact">
        <h1>CONTACTEZ-MOI</h1>
          <h2>LEO GRATON</h2>
          <div class="border"></div>
      </div>
      <div class="box profil">
        <img src="img/leo.png"/>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
    <script>

    var app = new Vue({
  el: '#creation',
  data: {
    articles: [
      {
        "titre": 'LOGO PARK N ROAD',
        "description": "Réalisation d'un logo pour le projet d'étude MY DIGITAL PROJECT.",
      },
  ]
},
})
    </script>

  </body>
</html>
